<h1>课程列表</h1>

<div class="input-group">
  <input type="text" name="" id="q" value="" class="form-control" placeholder="输入需要搜索的课程名称" />
  <span class="input-group-btn">
    <button class="btn btn-default btn-search" type="button" id="standard_search" data-search-type='standard'>经典搜索</button>
    <button class="btn btn-info btn-search" type="button" id="pinyin_search" data-search-type='pinyin'>拼音搜索</button>
  </span>
</div>

<table class="table">
  <thead>
    <tr>
      <th>名称</th>
      <th>描述</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td><%= course.desc %></td>
        <td><%= link_to '修改', edit_course_path(course) %></td>
        <td><%= link_to '删除', course, method: :delete, data: { confirm: '你确定?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建课程', new_course_path, class: 'btn btn-primary' %>
